
.fee-structure {
    text-align: center;
    @media screen and(max-width: 1023px) {
        padding: 5.6vw 0 8.7vw;
    }
}

.fee_structure__text {
    text-align: left;
    line-height: 1.68;
    @media screen and(max-width: 375px) {
        @include fz_vw(16);
    }
}


.fee-structure-btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
    @media screen and(max-width: 1023px){
        margin-bottom: 4.3vw;
    }

    &__item {
        font-size: 29px;
        margin-right: 32px;
        @media screen and(max-width: 1023px){
            margin-right: 3.1vw;
        }
    }
}

.fee-structure-btn {
    max-width: 280px;
    width: 100%;
    padding: 34px 0;
    background-color: $base;
    color: #fff;
    @include f(22, "", 0);
    font-weight: bold;
    margin-right: 32px;
    @media screen and(max-width: 1023px){
        margin-right: 3.1vw;
    }
    @media screen and(max-width: 768px){
        @include f(18, "", 0);
        padding: 20px 0;

    }
    @media screen and(max-width: 375px){
        @include fz_vw(16)
    }
}

.fee-structure-btn:last-of-type {
    margin-right: 0;
}



.price-list {
    text-align: center;
    padding-bottom: 62px;

    @media screen and(max-width: 768px) {
        padding-bottom: 50px;
    }


    .lower_page__h2 {
            margin-bottom: 106px;
            @media screen and(max-width: 1023px) {
                margin-bottom: 10.4vw;
            }
        }
}


.plan {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    @media screen and(max-width: 768px) {
        flex-direction: column;
    }
}

.plan-list {
    border: 1px solid $base;
    max-width: 220px;
    width: 100%;
    margin-right: 7px;
    @media screen and(max-width: 768px) {
        max-width: none;;
        margin-right: 0;
        margin-bottom: 30px;
    }
    span{
        display: block;
        margin: -32px -1px -26px;
        padding: 23px 0 20px;
        background-color: #f5a623;
        color: #fff;
        font-weight: bold;
    }
    
    &__title{
        padding: 17px 0 18px;
        background: #1b224c;
        color: #fff;
        font-weight: 700;
    }
}
.plan-list:nth-of-type(2){
    margin-bottom: 0;
}

.plan-list:nth-of-type(3){
    border-top: none;
    @media screen and(max-width: 768px) {
        margin-top: 61px;
    }
   .plan-list__title{
        background: $accent;
        margin: 0 -1px;
    }
    h4{
        color: $accent;
    }
}
.plan-list:last-of-type{
    margin-right: 0;
    @media screen and(max-width: 768px) {
        margin-bottom: 0;
    }
}


.price-list-content{
    padding: 30px 0;
    margin: 0 22px;
    @media screen and(max-width: 1023px){
        margin: 0 1.9vw;
        padding: 3vw 0 ;
    }
    &__title{
        @include f(25,'',0);
        font-weight: bold;
        margin-bottom: 14px;
        @media screen and(max-width: 425px){
            font-size: 18px;
        }
    }
    &__monthly{
        margin-bottom: 51px;
        @media screen and(max-width: 1023px) {
            margin-bottom: 12px;
            @media screen and(max-width: 375px) {
                @include fz_vw(16);
            }
        }
    }
}

.price-list-content-list{
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        @media screen and(max-width: 768px) {
            margin-bottom: 12px;
            @media screen and(max-width: 375px) {
                @include fz_vw(16);
            }
        }

        &--icon {
            max-width: 14px;
            margin-right: 11px;
            @media screen and(max-width: 768px) {
                margin-right: 8px;
            }
        }
        &--txt{
            line-height: 1.68;
            @media screen and(max-width: 765px) {
                line-height: 1;
            }
        }
    }
}

.price-list-content-list__item:last-of-type{
margin-bottom: 91px;
@media screen and(max-width: 1023px) {
    margin-bottom: 0;
}
}