@import "_reset.scss";
@import "_setting.scss";
// この下から書いていく
@import "_header.scss";
@import "_footer.scss";
@import "_front.scss";
@import "_index.scss";
@import "_course.scss";
@import "_blog_index.scss";
@import "_single.scss";
@import "_archive-info.scss";
@import "_single-info.scss";
@import "_contact.scss";
@import "send_completely.scss";
@import "_main-mv.scss";
@import "_blog-body.scss";
@import "_page-navi.scss";
@import "_document-request.scss";
